.progress-bar {
  transition: opacity ease .5s;

  &__progress {
    position: relative;

    &__bar {
      height: 25px;

      &.progress-bar__progress__bar--target {
        background-color: #ccc;
        border-radius: 5px;
        width: 100%;
      }

      &.progress-bar__progress__bar--current {
        background-color: #2f3238;
        border-radius: 5px;
        position: absolute;
        top: 0;
        transition: width ease .5s;
        width: 0;
      }

      &__text {
        margin-top: 5px;
      }
    }
  }
}
